NODE_ENV="development"
DATABASE_URL="DB_URI_HARE"
JWT_SECRET="hare secret key for jwt"

GOOGLE_GEMINI_API_KEY="GEMINI API KEY HARE"

GOOGLE_CLOUD_PROJECT_ID="Project id"
GOOGLE_CLOUD_BUCKET_NAME="Bucket name"
GOOGLE_CLOUD_CLIENT_EMAIL="Client email"
GOOGLE_CLOUD_RECOGNIZER="recognizer"
GOOGLE_CLOUD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nToo long private key\n-----END PRIVATE KEY-----\n"

ELEVENLABS_API_KEY="Elevenlabs api key"