NODE_ENV="production"

CLIENT_URL="client url"

DATABASE_URL="db url"

JWT_SECRET="secret"

GOOGLE_GEMINI_API_KEY="key"

GOOGLE_CLOUD_PROJECT_ID="id"
GOOGLE_CLOUD_BUCKET_NAME="name"
GOOGLE_CLOUD_CLIENT_EMAIL="name@name.iam.gserviceaccount.com"
GOOGLE_CLOUD_RECOGNIZER="recognizer"

GOOGLE_CLOUD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nlong=key\n-----END PRIVATE KEY-----\n"

ELEVENLABS_API_KEY="key"

# https://rapidapi.com/Lskehshhija/api/youtube-mp3-api/playground/apiendpoint_bb584d2b-ae27-4516-a7f9-d0594b21f856
RAPIDAPI_KEY="key"
RAPIDAPI_HOST="youtube-mp3-api.p.rapidapi.com"